@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Aplica o fundo escuro e a cor de texto do seu sistema original */
    @apply bg-dark text-[#f0f0f0] min-h-screen antialiased;
    margin: 0;
  }
}

/* Remove o centralizador do template padrão do Vite */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}