@import "tailwindcss"; /* */

@theme {
  /* Definindo suas cores personalizadas direto no tema v4 */
  --color-dark: #121829;
  --color-card: #1e293b;
  --color-input: #2d3748;
  --color-accent: #6366f1;
  
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    /* Aplica o fundo escuro e a cor de texto do seu sistema original */
    @apply bg-dark text-[#f0f0f0] min-h-screen antialiased;
    margin: 0;
  }
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}